.darkMode {
  .customDropdownControl {
    .customDropdownControl__control {
      background: none;
      border-color: $BorderLight;
      color: $FontColorLight;

      .customDropdownControl__value-container {
        .customDropdownControl__single-value {
          color: $WhiteColor;
        }

        .customDropdownControl__input-container {
        }
      }

      .customDropdownControl__indicators {
        .customDropdownControl__indicator-separator {
          background-color: $BorderLight;
        }

        .customDropdownControl__indicator {
        }
      }
    }

    .customDropdownControl__menu {
      background: darken($DarkBg, 3%);
    }
  }
}
